<!DOCTYPE html>
<html>
<head>
	<title>Main Scheduler</title>
</head>
<body>
	<header>
		<h1>Create Your Own Timetable</h1>
		<h2>Or <a href="">Import Existing timetable from IVLE</a></h2>
		<p class="instruction">click and drag things to timetable</p>
	</header>
<div class="OperableTable">
	<table class="MainTable">
    <thead>
    	<tr>
    		<th class="empty"></th>
    		<th class="timing">8:00</th>
    		<th class="timing">8:30</th>
    		<th class="timing">9:00</th>
    		<th class="timing">9:30</th>
    		<th class="timing">10:00</th>
    		<th class="timing">10:30</th>
    		<th class="timing">11:00</th>
    		<th class="timing">11:30</th>
    		<th class="timing">12:00</th>
    		<th class="timing">12:30</th>
    		<th class="timing">13:00</th>
    		<th class="timing">13:30</th>
    		<th class="timing">14:00</th>
    		<th class="timing">14:30</th>
    		<th class="timing">15:00</th>
    		<th class="timing">15:30</th>
    		<th class="timing">16:00</th>
    		<th class="timing">16:30</th>
    		<th class="timing">17:00</th>
    		<th class="timing">17:30</th>
    		<th class="timing">18:00</th>
    		<th class="timing">18:30</th>
    		<th class="timing">19:00</th>
    		<th class="timing">19:30</th>
    		<th class="timing">20:00</th>
    		<th class="timing">20:30</th>
    		<th class="timing">21:00</th>
    		<th class="timing">21:30</th>
    		<th class="timing">22:00</th>
    		<th class="timing">22:30</th>
    		<th class="timing">23:00</th>
    	</tr>
    </thead>
	  <tr>
	  	<th class="week">Monday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Tuesday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Wednesday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Thursday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Friday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Saturday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>
	  <tr>
	  	<th class="week">Sunday</th>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  	<td class="droppable cells"></td>
	  </tr>		
	</table>
	</ul>

</div>
</body>
</html>